body, html, canvas
{
	margin: 0;
	padding: 0;
	position: absolute;
}

#button
{
	z-index: 1;
	position: absolute;
	top: 5px;
	left: 5px;
}


#sidebar
{
	z-index: 1;
	position: absolute;
	top: 35px;

	left: -310px;
	width: 300px;

	transition: left 200ms;
	-webkit-transition: left 200ms;

	background-color: white;
	border-radius: 5px;
	padding: 10px;
}

#sidebar.active
{
	left: 10px;
}

.slider
{
	width: 100%;
}